---
title: Philter
heading: Philter
description: Redact PHI and PII from documents.
faq:
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express.
  - question: Can I change my plan at a later time?
    answer: Yes, you can upgrade and downgrade your plan at anytime.
  - question: Do you offer pricing for nonprofit organizations?
    answer: Yes, send us a message and we'll set you up on our nonprofit pricing.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">john@business.com</a>.
clouds:
  - question: Amazon Web Services
    answer: Credit cards including MasterCard, Visa or American Express.
  - question: Google Cloud
    answer: Yes, you can upgrade and downgrade your plan at anytime.
  - question: Microsoft Azure
    answer: Yes, send us a message and we'll set you up on our nonprofit pricing.
  - question: Other?
    answer: Contact us for any further questions at <a href="mailto:support@mtnfog.com">support@mtnfog.com</a>.
---

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Redact PHI and PII from <strong>text and documents</strong></h2>
				<p>Philter redacts PII and PHI from documents to help you maintain HIPAA compliance, meet industry regulations, and leverage your documents for valuable secondary purposes.</p>
				<p>Philter features a redaction API that identifies and redacts PHI and PII from text and documents.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
</div>

{% if page.faq %}
	<h3>Philter FAQ</h3>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}

<h3>Philter in the Cloud</h3>
<dl class="faq">
	{% for item in page.clouds %}
	<div>
		<dt>{{ item.question }}</dt>
		<dd>{{ item.answer }}</dd>
	</div>
	{% endfor %}
</dl>

<section class="testimonial">
	<div class="container flex">
		<div class="testimonial-block">
			<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
			<blockquote>
				<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
				<p class="editable author">Jim James - CEO of Global Corp.</p>
			</blockquote>
		</div>
	</div>
</section>
