---
title: Philter
heading: Philter
description: Redact PHI and PII from text and documents.
faq:
  - question: How does Philter work?
    answer: Philter has an API for document and text redaction. Simply submit your text and get the redacted text back.
  - question: How do I use Philter?
    answer: Philter has opensource SDKs for Java, .NET, and Golang. It's easy to make your own client or just use Philter through its command line tools.
  - question: Can I control how PHI and PII is redacted?
    answer: Yes, Philter gives you full control over how data is redacted, anonymized, encrypted, or replaced.
  - question: How do I get started using Philter?
    answer: Select your cloud provider below and follow the steps to deploy Philter in your cloud!
clouds:
  - question: Amazon Web Services
    answer: <a href="#">See Philter on the AWS Marketplace.</a>
  - question: Google Cloud
    answer: <a href="#">See Philter on the Google Cloud Marketplace.</a>
  - question: Microsoft Azure
    answer: <a href="#">See Philter on the Microsoft Azure Marketplace.</a>
  - question: Other?
    answer: Need a platform not listed here? Contact us at <a href="mailto:support@mtnfog.com">support@mtnfog.com</a>.
---

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Redact PHI and PII from <strong>text and documents</strong></h2>
				<p>Philter redacts PII and PHI from documents to help you maintain HIPAA compliance, meet industry regulations, and leverage your documents for valuable secondary purposes.</p>
				<p>Philter features a redaction API that identifies and redacts PHI and PII from text and documents. Philter runs entirely in your own cloud. Your data never leaves your network.</p>
				<a href="https://philter.mtnfog.com/introduction/quick-start">Quick Start</a> | <a href="https://philter.mtnfog.com">User's Guide</a> | <a href="/philter/release-notes">Release Notes</a>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
</div>

{% if page.faq %}
	<h3>Philter FAQ</h3>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}

<h3>Philter in the Cloud</h3>
<dl class="faq">
	{% for item in page.clouds %}
	<div>
		<dt>{{ item.question }}</dt>
		<dd>{{ item.answer }}</dd>
	</div>
	{% endfor %}
</dl>

<section class="testimonial">
	<div class="container flex">
		<div class="testimonial-block">
			<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
			<blockquote>
				<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
				<p class="editable author">Jim James - CEO of Global Corp.</p>
			</blockquote>
		</div>
	</div>
</section>
