---
title: Phirestream
heading: Phirestream
layout: product
description: Redact PHI and PII from Apache Kafka data streams.
featured_image: /images/phirestream-logo-transparent.png
faq:
  - question: How does Phirestream work?
    answer: Phirestream works with Apache Kafka to redact data as it streams through Apache Kafka topics.
  - question: Does Phirestream work with Amazon MSK?
    answer: Yes, Phirestream works with Amazon MSK, Microsoft Azure HDInsights, and other Apache Kafka managed services.
  - question: Can I control how PHI and PII is redacted?
    answer: Yes, Phirestream gives you full control over how data is redacted, anonymized, encrypted, or replaced.
  - question: How do I get started using Phirestream?
    answer: Select your cloud provider below and follow the steps to deploy Phirestream in your cloud!
clouds:
  - question: Amazon Web Services
    answer: <a href="#">See Phirestream on the AWS Marketplace.</a>
  - question: Google Cloud
    answer: <a href="#">See Phirestream on the Google Cloud Marketplace.</a>
  - question: Microsoft Azure
    answer: <a href="#">See Phirestream on the Microsoft Azure Marketplace.</a>
  - question: Other?
    answer: Need a platform not listed here? Contact us at <a href="mailto:support@mtnfog.com">support@mtnfog.com</a>.
---

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Redact PHI and PII from <strong>streaming data</strong></h2>
				<p>Phirestream redacts PHI and PII from Apache Kafka data streams. With Phirestream you can keep sensitive information out of your data pipelines.</p>
				<p>Phirestream runs entirely in your own cloud. Your data never leaves your network.</p>
				<a href="https://phirestream.mtnfog.com/introduction/quick-start">Quick Start</a> | <a href="https://phirestream.mtnfog.com">User's Guide</a> | <a href="#">Release Notes</a>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
</div>

{% if page.faq %}
	<h3>Phirestream FAQ</h3>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}

<h3>Phirestream in the Cloud</h3>
<dl class="faq">
	{% for item in page.clouds %}
	<div>
		<dt>{{ item.question }}</dt>
		<dd>{{ item.answer }}</dd>
	</div>
	{% endfor %}
</dl>

<section class="testimonial">
	<div class="container flex">
		<div class="testimonial-block">
			<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
			<blockquote>
				<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
				<p class="editable author">Jim James - CEO of Global Corp.</p>
			</blockquote>
		</div>
	</div>
</section>